/* 画像の詳細込みアイテム */
.image_item {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1rem;
}

/* 画像単体 */
.image {
  border: 4px double #ccc;
}

th {
  width: 37%;
}
td {
  overflow-wrap: anywhere;
}

.image {
  border: 1px solid #ccc;
  width: 100%;
  max-height: 210px;
  object-fit: cover; 
}

@media screen and (max-width:768px) {
  .image_item {
    padding: 0 !important;
  }
  .image {
    width: 100%;
    height: 100px;
    object-fit: cover; 
  }
  .dounload_link {
    font-size: 80%;
  }
}